* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}
body {
	font-family: "TitilliumWeb", sans-serif;
}

.container {
	width: 1000px;
	background-color: orange;
	margin: 0 auto;
}

header {
	background-color: purple;
}

nav {
	background-color: yellow;
}

.main {
	background-color: pink;
}

#left {
	background-color: pink;
	display: inline-block;
	width: 49%;
	padding: 5% 15%;
	text-align: center;
}

#right {
	display: inline-block;
	width: 49%;
	text-align: center;
	margin-top: 50px;
}
#title {
	font-size: 60px;
}
button {
	width: 125px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid black;
	backgroud-color: white;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Bangers", cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.body-top {
	background-color: red;
	border-top: 5px solid black;
}

.body-img {
	/*width: 100%*/
}

.body-bot {
	background-color: teal;
	border-bottom: 5px solid black;
}

.body-top article {
	width: 49%;
	display: inline-block;
}

.body-bot article {
	width: 32%;
	display: inline-block;
}

footer {
	background-color: lightgreen;
}


