* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}
body {
	font-family: "TitilliumWeb", sans-serif;
}

.container {
	width: 1000px;
	background-color: orange;
	margin: 0 auto;
}

header {
	background-color: purple;
}

nav {
	background-color: yellow;
}

.main {
	background-color: pink;
}

#left {
	background-color: pink;
	display: inline-block;
	width: 49%;
	padding: 5% 15%;
	text-align: center;
}

#right {
	display: inline-block;
	width: 49%;
	text-align: center;
	margin-top: 50px;
}
#title {
	font-size: 60px;
}
button {
	width: 125px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid black;
	backgroud-color: white;
}



